# Python/Django
###################
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Django
local_settings.py
media/

# Virtual Environments
######################
.env
.venv
.venv_linux
**/venv/
**/ENV/
**/env/
env.bak
venv.bak
.env
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local

# Scrapy
##########
.scrapy
scrapy_output.log

# Coverage & Testing
####################
**/htmlcov/
**/.tox/
**/.nox/
.coverage
.coverage.*
.cache
**/.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Node.js/React
#################
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/build/
**/dist/
.pnp
.pnp.js

# OS-specific & Editors
#######################
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.suo
*.user
*.sln.docstates
*.swp

# Logs & Dumps
##############
*.log
logs/
*.sql

# Other
#########
unicorn.txt

agente_ai
backups