# Ignorar o ambiente virtual local
.venv

# Ignorar caches do Python e Pytest
__pycache__/
.pytest_cache/
.coverage

# Ignorar arquivos de ambiente específicos do desenvolvimento local
.env
.env.bak
.env.prod