beautifulsoup4
celery
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
mysqlclient
playwright
redis
requests
requests-html
scrapy
selenium
undetected-chromedriver
webdriver-manager
