beautifulsoup4
celery
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
mysqlclient
playwright
Pillow
redis
requests
requests-html
scrapy
selenium
undetected-chromedriver
webdriver-manager
lxml_html_clean
playwright-stealth
oracledb

# Testing
pytest
pytest-django
pytest-mock