@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-acao-primaria: #FF8C00;
    --cor-acao-secundaria: #A0AEC0;
    --cor-terciaria: #4ecdc4;
    --cor-hover: var(--cor-terciaria);
    --cor-fundo: #1a1a2e;
    --cor-container: rgba(22, 33, 62, 0.9);
    --cor-texto-primario: #A0AEC0;
    --cor-texto-secundario:#E2E8F0;
    --cor-borda: rgba(78, 205, 196, 0.2);
    --cor-res: #fff;
    --cor-card-fundo: rgba(28, 28, 30, 0.75); 
    --cor-titulo: var(--cor-acao-primaria);
    --borda-form-color: var(--cor-terciaria);
    --borda-form-shadow: 0 0 15px rgba(78, 205, 196, 0.4);
    --sombra-padrao: 0 8px 32px rgba(78, 205, 196, 0.2);
    --sombra-hover: 0 12px 32px rgba(78, 205, 196, 0.3);
    --sombra-logo: 0 0 20px rgba(78, 205, 196, 0.6);
    --fonte-primaria: 'Orbitron', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --cor-sucesso: #28a745;
    --cor-perigo: #dc3545;
    --cor-info: #5169d3;
    --cor-fundo-logo: #fff;;
    --cor-fundo: #1a1a2e;
    --cor-superficie-neutra: #2D3748;
    --cor-destaque: var(--cor-terciaria);


    --cor1: #3AA198;
    --cor2: var(--cor-terciaria);
    --cor3: #B8FBF5;
    --cor4: var(--cor-terciaria);
    --cor5: #2E8B84;
    --cor6: #D97800;
    --cor7: var(--cor-acao-primaria);
    --cor8: #FFE0B8;
    --cor9: var(--cor-acao-primaria);
    --cor0: #CC7A00;

}

body[data-theme='light'] {
    --cor-acao-primaria: #FF8383;
    --cor-acao-secundaria: #A19AD3;
    --cor-terciaria: #A1D6CB;
    --cor-hover: #A0E7E5;
    --cor-fundo: #fdeff2;
    --cor-texto-primario: #2D3748;
    --cor-texto-secundario: #4A5568;
    --cor-borda: #d1d5db;
    --cor-container: rgba(240, 245, 249, 0.8);
    --cor-card-fundo: rgba(255, 255, 255, 0.75);; 
    --cor-destaque: #A1D6CB;
    --cor-titulo: var(--cor-acao-primaria);
    --cor-res: #000;
    --borda-form-color: var(--cor-acao-primaria);
    --borda-form-shadow: 0 4px 12px rgba(255, 131, 131, 0.2); 
    --fonte-primaria: 'Orbitron', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --sombra-padrao: 0 4px 8px rgba(0, 0, 0, 0.05);
    --sombra-hover: 0 8px 16px rgba(0, 0, 0, 0.1);
    --sombra-logo: 0 0 15px rgba(255, 131, 131, 0.596);
    --cor-sucesso: #28a745;
    --cor-sucesso-hover: #218838;
    --cor-perigo: #dc3545;
    --cor-perigo-hover: #c82333;
    --cor-info: #5169d3;
    --cor-fundo-logo: #fff;
    --cor-superficie-neutra: #E2E8F0;
    --cor-destaque: #A19AD3;

    --cor1: #FF8383;
    --cor2: #f08181;
    --cor3: #f1b7b7;
    --cor4: #f08181;
    --cor5: #FF8383;
    --cor6: #A19AD3;
    --cor7: #8A82B3;
    --cor8: #c3bbe4;
    --cor9: #8A82B3;
    --cor0: #A19AD3;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--cor-container);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid var(--cor-borda);
    font-family: 'Orbitron', sans-serif;
}

.cabecalho-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-acao-secundaria);
}

.cabecalho-logo img {
    height: 60px;
    width: 60px;
    background: linear-gradient(180deg, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    border-radius: 50%;
    border: 1px solid #555;
    margin: 10px;
    padding: 1px;
    transition: all 0.3s ease;
}

.cabecalho-logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--sombra-logo);
    border-color: #999;
}

.cabecalho-logo span {
    font-size: larger;
    text-align: 50%;
    color: var(--cor-acao-secundaria);
    margin: 10px;
    transition: all 0.3s ease;
}

.cabecalho-logo span:hover{
    color: var(--cor-terciaria);
    text-shadow: 0 0 15px rgba(78, 205, 196, 0.8);
    transform: scale(1.1);
}

.main-nav a {
    color: var(--cor-acao-secundaria);
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}

.main-nav a:hover {
    color: var(--cor-terciaria);
    text-shadow: 0 0 15px rgba(78, 205, 196, 0.8);
    transform: scale(1.1);
}

.rodape {
    position: relative;
    flex-shrink: 0;
    padding: 20px;
    background-color: var(--cor-container);
    text-align: center;
    backdrop-filter: blur(10px);
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-top: 1px solid var(--cor-borda);
}

.rodape_texto {
    color: var(--cor-res);
    font-size: 0.85rem;
    margin: 0;
}

.rodape_links {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 5px;
}

.rodape_link {
    color: var(--cor-acao-primaria);
    font-size: 0.9rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.rodape_link:hover {
    color: var(--cor-hover);
}
