django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
mysqlclient
celery
redis
scrapy
selenium
webdriver-manager
beautifulsoup4
undetected-chromedriver
requests
django-filter
crochet
